
<section section-id="{{ sectionId }}" class="p-4 headline p-md-5" 
style="{% if settings.color %}color: {{ settings.color }}; {% endif %}{% if settings.background_color %}background-color: {{ settings.background_color }}; {% endif %}">
		{{ settings.description }}
</section>

{% schema %}
{
  "name": {
    "ar": "نص اعلاني",
    "en": "Text"
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": {
    "description": {
      "type": "text",
      "label": {
        "ar": "النص",
        "en": "Text"
      }
    },
    "color": {
      "type": "color",
      "label": {
        "ar": "لون النص",
        "en": "Color"
      }
    },
    "background_color": {
      "type": "color",
      "label": {
        "ar": "لون الخلفية",
        "en": "Background Color"
      }
    }
  }
}
{% endschema %}
