{% if not settings.hide %}
<div class="header">   	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container justify-content-center align-items-center">
    <a href="javascript:void(0)" onclick="location.reload();" style="display: block">
      <img class="logo-big d-block" src="{% if settings.image %}{{ settings.image }}{% else %}{{ store.log }}{% endif %}" alt="{{ store.name }}" style="width: auto;">
    </a>
  </div>
</nav>

</div>
{% endif %}

{% schema %}
{
  "name": {
    "ar": "شعار المتجر",
    "en": "Store logo"
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": {
    "hide": {
      "type": "checkbox",
      "label": {
        "ar": "إخفاء",
        "en": "Hide"
      }
    },
    "image": {
      "type": "image",
      "label": {
        "ar": "الصورة",
        "en": "Image"
      },
      "info": {
        "ar": "ارفع صورة بحجم 750 * 750 ",
        "en": "This is an info text sample here"
      }
    }
  }
}
{% endschema %}