<section section-id="{{ sectionId }}" class="features-section-3 container pt-2 photos pt-md-5">
      {% for key, feature in settings.features %}
        <div class="flex-wrap pb-2 1 row pb-md-4 row-cols-1 row-cols-md-2 photos-block">
          <div class="about-image d-flex col-sm-6">
            <div class="px-3">
              <div class="title-red">{{ feature.title }}</div>
              <div class="side-content">
                <div style="
                    width: 100%;
                    text-align: right;
                    color: #292929;
                    font-size: 16px;
                    font-family: 'IBM Plex Sans Arabic';
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                  {{ feature.description | raw }}
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 px-md-0 col-sm-6">
            <img loading="lazy" class="image height" src="{{ imageUrl(feature.image) }}" alt="">
          </div>
        </div>
      {% endfor %}
	</section>


{% schema %}
{
  "name": {
    "ar": "3 خصائص المنتج",
    "en": "Features 3"
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": {
    "features": {
      "type": "list",
      "noLabel": true,
      "maxItems": 10,
      "info": {
        "ar": "",
        "en": ""
      },
      "settings_label":{
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
        "description": {
          "type": "textarea",
          "label": {
            "ar": "الوصف",
            "en": "Description"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم ٢٠٠ *٢٠٠ ",
            "en": "This is an info text sample here"
          }
        }
      }
    }
  }
}
{% endschema %}
