
<section section-id="{{ sectionId }}" class="p-4 headline p-md-5">
		{{ settings.description }}
</section>

{% schema %}
{
  "name": {
    "ar": "نص",
    "en": "Text"
  },
  "icon": "fal fa-sparkles",
  "display": true,
  "settings": {
    "description": {
      "type": "text",
      "label": {
        "ar": "النص",
        "en": "Text"
      }
    }
  }
}
{% endschema %}
